<div class="footer landing-footer pb-2" id="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-3 mb-4">
                <a href="/">
                    <img src="images/logo.svg" class="mb-2 logo"/>
                </a>
                <div class="row mb-2">
                    <div class="col-1">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="col">
                        Mailing Address:<br/>
                        Campus Pride, PO Box 240473,<br/>
                        Charlotte, NC 28224
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="col">
                        704-277-6710
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-1">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="col">
                        info@campuspride.org
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <h4>Quick Links</h4>
                <div class="row">
                    <NavLink class="col-6 mb-2 pr-0">
                        <i class="fas fa-chevron-right mr-1"></i>
                        About
                    </NavLink>
                    <NavLink class="col-6 mb-2 pr-0">
                        <i class="fas fa-chevron-right mr-1"></i>
                        FAQs
                    </NavLink>
                    <NavLink class="col-6 mb-2 pr-0">
                        <i class="fas fa-chevron-right mr-1"></i>
                        Advertising
                    </NavLink>
                    <NavLink class="col-6 mb-2 pr-0">
                        <i class="fas fa-chevron-right mr-1"></i>
                        Terms & Conditions
                    </NavLink>
                    <NavLink class="col-6 mb-2 pr-0">
                        <i class="fas fa-chevron-right mr-1"></i>
                        Community Guidelines
                    </NavLink>
                    <NavLink class="col-6 mb-2 pr-0">
                        <i class="fas fa-chevron-right mr-1"></i>
                        Privacy Policy
                    </NavLink>
                    <NavLink class="col-6 mb-2 pr-0">
                        <i class="fas fa-chevron-right mr-1"></i>
                        Contact Us
                    </NavLink>
                </div>
            </div>
            <div class="col-12 col-md-2 mb-4">
                <h4>Follow Us</h4>
                <div>
                    <a href="https://www.linkedin.com/company/campus-pride" target="_blank"><img src="images/linkedin_box.svg" class="link-img"/></a>
                    <a href="https://twitter.com/campuspride" target="_blank"><img src="images/twitter_box.svg" class="link-img"/></a>
                    <a href="https://facebook.com/LeadwithPRIDE/igshid=YmMyMTA2M2Y=" target="_blank"><img src="images/facebook_box.svg" class="link-img"/></a>
                    <a href="https://instagram.com/campuspride" target="_blank"><img src="images/instagram_box.svg" class="link-img"/></a>
                    <a href="" target="_blank"><img src="images/github_box.svg" class="link-img"/></a>
                    <a href="" target="_blank"><img src="images/tumblr_box.svg" class="link-img"/></a>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-4">
                <h4>Our Partners</h4>
                <div class="img-wrapper">
                    <img src="images/acpa_logo.png">
                </div>
            </div>
        </div>
        <hr class="mt-0"/>
        <div class="text-center">
            © Copyright 2020-21 Campus Pride. All rights reserved.
        </div>
    </div>
</div>

