@using ViewModels.Dtos

<div class="cpcc-modal delete-work-history-modal">
    <h3 class="text-center">Delete Work History</h3>
    <h6 class="text-center">Are you sure that you would like to delete this work history?</h6>
    <WorkHistoryCard WorkHistory="WorkHistory"/>
    <div class="d-flex flex-row justify-content-end">
        <Button Color="Color.Primary" Outline="true" @onclick="ModalInstance.CloseAsync"Class="mr-2 px-4 py-1">Cancel</Button>
        <Button Color="Color.Primary" @onclick="ModalInstance.CloseAsync" Class="px-4 py-1">Delete</Button>
    </div>
</div>


@code {

    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public WorkHistoryDto WorkHistory { get; set; }

}

