@using ViewModels.Commands
<div class="cpcc-modal">
    <SocialLinksForm Title="Edit Social Links" @bind-Values="Command.SocialLinks" StatusChanged="val => _valid = val"/>

    <div class="d-flex flex-row-reverse justify-content-between align-items-center mt-2">
        <Button Color="Color.Primary" Size="Size.Large" class="px-4 py-1" @onclick="OnSave">Save</Button>
        <Button Color="Color.Primary" Size="Size.Large" Outline="true" Class="px-4 py-1" @onclick="ModalInstance.CloseAsync">Cancel</Button>
    </div>
</div>

@code {

    [CascadingParameter]
    public BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public UpdateSocialLinksCommand Command { get; set; }

    private ValidationStatus _valid = ValidationStatus.None;

    private void OnSave()
    {
        if (_valid != ValidationStatus.Success)
            return;
        ModalInstance.CloseAsync(ModalResult.Ok(Command));
    }

}



