.education-history-card {
    display: flex;
    flex-direction: row;
    .img-wrapper {
        height: 6em;
        width: 6em;
    }
    button {
        width: 2em;
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    label {
        color: #424242;
        margin-right: 1em;
        font-weight: 600;
        margin-bottom: 0;
    }
    .degree {
        padding: 0 0.4em;
    }
}