.file-widget {
    display: flex;
    background-color: white;
    border-top: 2px solid #29ABE2;
    padding: 1em 0.5em;
    .vr {
        margin: 0 1em;
        border-right: 1px solid #D8E3F2;
    }
}