.update-status-modal{
  padding: 3em 3em;
  max-width: 95%;
  
  .connection-modal-option{
    background: #F0F4F6;
    border: 1px solid #C0CCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1.5em;
    padding: 3em;
    width: 100%;
  }

}