@page "/blocked-user"

@layout LandingPageLayout

@inject NavigationManager NavigationManager

<div class="landing-page container px-0">
        <br/><br/>
        <h3>Due to a violation of community standards, your account is no longer accessible.  Contact info@campuspride.org if you feel this decision was made in error and/or to find how to reactivate your account.</h3>
</div>

@code {
    
}

