@page "/Connections"
@using ViewModels.Dtos
@layout AuthorizedPageLayout
@attribute [Authorize]

@if (ActiveProfile != null)
{
     <div class="detail-page matching">
         <div class="matching-nav">
             <div class="col-sm"></div>
             <div class="col-sm-2 pointer active">
                 <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                     <g transform="translate(0 0)">
                         <g>
                             <path d="M3.556.61A2.083,2.083,0,1,1,.61.61,2.083,2.083,0,0,1,3.556.61Z" transform="translate(7.917 8.542)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                             <path d="M3.556.61A2.083,2.083,0,1,1,.61.61,2.083,2.083,0,0,1,3.556.61Z" transform="translate(12.488 3.542)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                             <path d="M0,0A5.459,5.459,0,0,1,3.333,1.111" transform="translate(15 10.208)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                             <path d="M3.556.61A2.083,2.083,0,1,1,.61.61,2.083,2.083,0,0,1,3.556.61Z" transform="translate(3.345 3.542)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                             <path d="M0,1.111A5.459,5.459,0,0,1,3.333,0" transform="translate(1.667 10.208)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                             <path d="M7.652,1.25A6.389,6.389,0,0,0,3.826,0,6.389,6.389,0,0,0,0,1.25" transform="translate(6.174 15.208)" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                         </g>
                         <path d="M0,0H20V20H0Z" transform="translate(0 0)" fill="none"/>
                     </g>
                 </svg>
                 Active Connections
             </div>
             <div class="col-sm-2"></div>
             <div class="col-sm-2"></div>
             <div class="col-sm-2"></div>

             <div class="col-sm"></div>
         </div>
         
         <MyConnections SkipTypeFilter="true" ShowCrossButton="true"/>
     </div>
}

@code {
    [CascadingParameter]
    public FullUserProfileDto ActiveProfile { get; set; }
}

