@using ViewModels.Dtos
@using Constants
@using Portal.Rcl.Permissions.Services
@using ViewModels.Commands
@inject SmartTypesService SmartTypesService
@inject FavoriteService FavoriteService
@inject CompanyService CompanyService
@inject Blazored.Modal.Services.IModalService ModalService
@inject IOrgSelectionService OrgSelectionService

<div class="jumbotron-footer p-2 widget-body d-flex align-items-center justify-content-between">
    <div class="d-flex">
        @foreach (var socialLink in Company.SocialLinks)
        {
            if (_smartCodes.TryGetValue(socialLink.Type, out var smartCode))
            {
                <a href="@socialLink.Url" class="mx-2" target="_blank">
                    <img src="images/profile_@(smartCode.Label.ToLower()).svg" alt="@smartCode.Label"/>
                </a>
            }
        }
    </div>
    <div>
        @if (IsOwner)
        {
            <Dropdown class="profile-edit-btn" RightAligned="true">
                <DropdownToggle Color="Color.Primary" TextColor="TextColor.White" Size="Size.Small" class="mx-2">
                    More
                </DropdownToggle>
                <DropdownMenu>
                    <DropdownItem Clicked="OnViewInvoices">View Invoices</DropdownItem>
                    <DropdownItem Clicked="OnEditSocialLinks">Edit Social Links</DropdownItem>
                </DropdownMenu>
            </Dropdown>
        }
        else
        {
            @if (IsFavorite)
            {
                <Button Color="Color.Secondary" TextColor="TextColor.White" Size="Size.Small" class="mx-2" Disabled="_disableFavorite" @onclick="OnRemoveFavorite"><Icon Name="IconName.Heart" class="mr-2"/>Remove Favorite</Button>
            }
            else
            {
                <Button Color="Color.Primary" TextColor="TextColor.White" Size="Size.Small" class="mx-2" Disabled="_disableFavorite" @onclick="OnAddFavorite"><Icon Name="IconName.Heart" class="mr-2"/>Favorite</Button>
            }
        }
    </div>
</div>

@code {

    [CascadingParameter]
    public FullCompanyDto Company { get; set; }

    
    public bool IsOwner { get; set; }
    
    [CascadingParameter]
    public FullUserProfileDto ActiveProfile { get; set; }

    private Dictionary<Guid, SmartCodeDto> _smartCodes = new();
    private List<UserFavoriteDto> Favorites => ActiveProfile?.Favorites ?? new();
    private bool _disableFavorite;

    protected override void OnInitialized()
    {
        SmartTypesService[SmartTypes.SocialMedia].Subscribe(smartCodes =>
        {
            _smartCodes = smartCodes.ToDictionary(x => x.Id);
            StateHasChanged();
        });

        OrgSelectionService.RoleStatuses.Subscribe(roles => IsOwner = roles[OrgUserRoleType.AccountOwner]);
    }

    private bool IsFavorite => Favorites.Any(x => x.TargetId == Company.Id);

    private async void OnAddFavorite()
    {
        _disableFavorite = true;
        StateHasChanged();
        await FavoriteService.AddUserFavorite(Company.Id, FavoriteType.Company);
        _disableFavorite = false;
        StateHasChanged();
    }

    private async void OnRemoveFavorite()
    {
        _disableFavorite = true;
        StateHasChanged();
        await FavoriteService.RemoveUserFavorite(Favorites.First(x => x.TargetId == Company.Id).Id);
        _disableFavorite = false;
        StateHasChanged();
    }

    private void OnMessage()
    {
    }

    private async void OnEditSocialLinks()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(EditSocialLinksModal.Command), new UpdateSocialLinksCommand()
        {
            SocialLinks = Company.SocialLinks.ToList()
        });
        var modal = ModalService.Show<EditSocialLinksModal>("", parameters);
        var result = await modal.Result;
        if (result.Cancelled)
            return;
        CompanyService.UpdateSocialLinks(Company.Id, result.Data as UpdateSocialLinksCommand);
    }

    private void OnViewInvoices()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(ListInvoicesModal.OrgId), Company.Id);
        parameters.Add(nameof(ListInvoicesModal.AccountType), AccountType.Company);
        var options = new ModalOptions()
        {
            HideCloseButton = false
        };
        ModalService.Show<ListInvoicesModal>("", parameters, options);
    }

}

