@using ViewModels.Dtos
@inject NavigationManager NavigationManager

<div class="update-status-modal">
    <h3 class="section-header">You May...</h3>
    <div class="row">
        <div class="col-12 col-lg-6 col-xl px-1">
            <button class="btn btn-light connection-modal-option" @onclick="SendThankYou">
                <img src="images/happy.svg"/>
                <h5>Send Thank You</h5>
            </button>
        </div>
        <div class="col-12 col-lg-6 col-xl">
            <button class="btn btn-light connection-modal-option" @onclick="ViewProfile">
                <img src="images/view_profile.svg"/>
                <h5>View Application</h5>
            </button>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public FullUserProfileDto UserProfile { get; set; }
    
    [CascadingParameter]
    BlazoredModalInstance ModalInstance { get; set; }

    [Parameter]
    public JobApplicationDto JobApplication { get; set; }
    
    private async void ViewProfile()
    {
        NavigationManager.NavigateTo($"/jobs/view-applicant/{JobApplication.ApplicantId}/job-post/{JobApplication.JobPostId}");
        await ModalInstance.CloseAsync();
    }

    private async void SendThankYou()
    {
        await ModalInstance.CloseAsync();
    }
}

