.career-center-details {
    .profile-img-wrapper {
        width: 6em;
        height: 6em;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}