@import "../../Bootstrap/_variables";
.navbar-signup {
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    background: $purple;
    color: white;
    .nav-link {
        color: white;
        border-radius: 2em;
        font-size: 0.9em;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.25em 0.75em;
        &:hover, &.active {
            font-weight: 600;
            background: white;
            color: $purple;
        }
    }
    .pipe {
        width: 1px;
        opacity: 0.5;
        background: white;
        margin: 0 0.5em;
    }
    i {
        color: $orange;
        display: flex;
    }
}