@import "../../Bootstrap/_variables";
.section-header {
    font-weight: 700;
    position: relative;
    &::after {
        position: absolute;
        content: "";
        width: 2em;
        height: 4px;
        background-color: $orange;
        bottom: -0.3em;
        left: 0;
    }
    &.centered {
        text-align: center;
        &::after {
            left: calc(50% - 1em);
        }
    }
}